Repository PennyLaneAI/pennylane-lightning, pull requests merged in 2024-10, with the labels that each got.

#925 Remove PI gates implementation
  .github/CHANGELOG.md
  doc/benchmark.rst
  doc/lightning_qubit/development/add_gate_kernel.rst
  doc/lightning_qubit/development/avx_kernels/build_system.rst
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/CMakeLists.txt
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/KernelMap.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/KernelType.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/RegisterKernels_Default.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/RegisterKernels_x64.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsPI.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsPI.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_DynamicDispatcher.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_Internal.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_KernelMap.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/tests/Test_StateVectorLQubit.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/tests/Test_StateVectorLQubitManaged.cpp
  pennylane_lightning/core/src/utils/TestKernels.hpp
Labels: ci:build_wheels, urgent

#853 Migration of `lightning.gpu` device to the new device API
  .github/CHANGELOG.md
  .github/workflows/wheel_noarch.yml
  MANIFEST.in
  Makefile
  doc/lightning_gpu/device.rst
  mpitests/conftest.py
  mpitests/test_adjoint_jacobian.py
  mpitests/test_apply.py
  mpitests/test_device.py
  mpitests/test_expval.py
  mpitests/test_probs.py
  pennylane_lightning/core/_adjoint_jacobian_base.py
  pennylane_lightning/core/_measurements_base.py
  pennylane_lightning/core/_state_vector_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/lightning_newAPI_base.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindingsMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/MeasurementsGPU.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/tests/mpi/Test_StateVectorCudaMPI.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/utils/cuStateVec_helpers.hpp
  pennylane_lightning/lightning_gpu/_adjoint_jacobian.py
  pennylane_lightning/lightning_gpu/_measurements.py
  pennylane_lightning/lightning_gpu/_mpi_handler.py
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/_adjoint_jacobian.py
  pennylane_lightning/lightning_kokkos/_measurements.py
  pennylane_lightning/lightning_kokkos/_state_vector.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/_adjoint_jacobian.py
  pennylane_lightning/lightning_qubit/_measurements.py
  pennylane_lightning/lightning_qubit/_state_vector.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  tests/conftest.py
  tests/lightning_qubit/test_adjoint_jacobian_class.py
  tests/lightning_qubit/test_measurements_class.py
  tests/lightning_qubit/test_state_vector_class.py
  tests/new_api/test_device.py
  tests/test_var.py
Labels: do not merge, ci:use-multi-gpu-runner, ci:build_wheels, urgent, ci:use-gpu-runner

#932 Fix applyMatrix in `lightning.gpu`
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
Labels: bug-fix, ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#933 Add zero state initialization to `lightning.gpu`
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/algorithms/tests/mpi/Test_AdjointJacobianMPI.cpp
  pennylane_lightning/core/src/observables/tests/mpi/Test_ObservablesMPI.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaBase.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/algorithms/tests/Test_AdjointJacobianGPU.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/algorithms/tests/mpi/Test_AdjointJacobianGPUMPI.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindingsMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_NonParam.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_NonParam.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/Test_StateVectorCudaManaged_Expval.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/Test_StateVectorCudaManaged_Var.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Expval.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Var.cpp
  pennylane_lightning/lightning_gpu/_state_vector.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#930 Add native `setStateVector` support to `lightning.gpu`
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindingsMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_NonParam.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_NonParam.cpp
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, urgent, ci:use-gpu-runner

#936 Ensure inline templated func hit with arith types only
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/utils/Util.hpp
Labels: ci:build_wheels, urgent

#941 Update probs in Lightning.GPU
  .github/CHANGELOG.md
  pennylane_lightning/core/_measurements_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/measurements/tests/Test_MeasurementsBase.cpp
  pennylane_lightning/core/src/measurements/tests/mpi/Test_MeasurementsBaseMPI.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/MeasurementsGPU.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/MeasurementsGPUMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/Test_StateVectorCudaManaged_Measure.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Measure.cpp
  pennylane_lightning/core/src/utils/Util.hpp
  pennylane_lightning/lightning_gpu/_measurements.py
  tests/lightning_qubit/test_measurements_class.py
  tests/test_measurements.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#943 Optimize memory peak for `_preprocess_state_vector` in LightningTensor
  .github/CHANGELOG.md
  .github/workflows/wheel_linux_aarch64.yml
  .github/workflows/wheel_linux_aarch64_cuda.yml
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_tensor/_tensornet.py
Labels: ci:build_wheels, urgent, ci:use-gpu-runner

#931 Add `Mid-Measurement` support to single-GPU LGPU
  .github/CHANGELOG.md
  mpitests/test_native_mcm.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/initSV.cu
  pennylane_lightning/core/src/simulators/lightning_gpu/tests/Test_StateVectorCudaManaged.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/tests/mpi/Test_StateVectorCudaMPI.cpp
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_gpu/lightning_gpu.toml
  tests/test_native_mcm.py
Labels: ci:use-multi-gpu-runner, urgent, ci:use-gpu-runner

#947 Fix LK catalyst shared object copy linux/mac only
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  setup.py
Labels: ci:build_wheels, ci:use-gpu-runner

#946 Optimize `GlobalPhase` and `CGlobalPhase` gates for `lightning.gpu`
  .github/CHANGELOG.md
  mpitests/test_apply.py
  mpitests/test_device.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/initSV.cu
  pennylane_lightning/core/src/simulators/lightning_gpu/tests/Test_StateVectorCudaManaged.cpp
  pennylane_lightning/lightning_gpu/_state_vector.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#961 Fix PTM stable latest
  .github/CHANGELOG.md
  .github/workflows/tests_gpu_python.yml
  .github/workflows/tests_lgpumpi_python.yml
  .github/workflows/tests_lkcpu_python.yml
  .github/workflows/tests_lkcuda_python.yml
  .github/workflows/tests_lqcpu_python.yml
  .github/workflows/tests_without_binary.yml
  pennylane_lightning/core/_version.py
Labels: ci:build_wheels, urgent

#966 Fix PTM stable latest related to the default.qubit.legacy
  .github/CHANGELOG.md
  .github/workflows/tests_lgpumpi_python.yml
  .github/workflows/tests_lkcpu_python.yml
  .github/workflows/tests_lkcuda_python.yml
  pennylane_lightning/core/_version.py
Labels: urgent

#968 Fix LK build path for catalyst shared library
  .github/CHANGELOG.md
  .github/workflows/tests_lkcpu_python.yml
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  setup.py
Labels: ci:build_wheels, urgent

#928 Integrate LGPU to Catalyst
  .github/CHANGELOG.md
  .github/workflows/tests_gpu_python.yml
  cmake/support_catalyst.cmake
  pennylane_lightning/core/src/simulators/lightning_gpu/CMakeLists.txt
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/CMakeLists.txt
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/LightningGPUObsManager.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/LightningGPUSimulator.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/LightningGPUSimulator.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/tests/CMakeLists.txt
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/tests/Test_LightningGPUGradient.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/tests/Test_LightningGPUMeasures.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/tests/Test_LightningGPUSimulator.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/catalyst/tests/runner_lightning_gpu_catalyst.cpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/catalyst/CMakeLists.txt
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_gpu/lightning_gpu.toml
  setup.py
  tests/test_device.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, urgent, ci:use-gpu-runner
