Repository PennyLaneAI/pennylane-lightning, pull requests merged in 2025-03, with the labels that each got.

#1074 Cleanup after ARM GPU runner
  .github/CHANGELOG.md
  .github/workflows/wheel_linux_aarch64_cuda.yml
Labels: ci:build_wheels

#1072 Increase aarch64-cuda wheel build CI max time
  .github/CHANGELOG.md
  .github/workflows/wheel_linux_aarch64_cuda.yml
  pennylane_lightning/core/_version.py
Labels: ci:build_wheels

#1071 Optimize the input state-vector copy into the LGPU
  .github/CHANGELOG.md
  pennylane_lightning/core/_state_vector_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_NonParam.cpp
  pennylane_lightning/core/src/utils/cuda_utils/DataBuffer.hpp
  pennylane_lightning/lightning_gpu/_state_vector.py
Labels: ci:use-gpu-runner

#1068 Enhance Sparse Observable Handling and Expand State Initialization
  .github/CHANGELOG.md
  pennylane_lightning/core/_measurements_base.py
  pennylane_lightning/core/_state_vector_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/observables/Observables.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/lightning_gpu/_measurements.py
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_kokkos/_state_vector.py
  pennylane_lightning/lightning_qubit/_state_vector.py
  pennylane_lightning/lightning_tensor/_measurements.py
  tests/lightning_base/test_measurements_class.py
  tests/lightning_base/test_state_vector_class.py
  tests/lightning_tensor/test_gates_and_expval.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1083 Fix unit test for applyControlledPhaseShift
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_GateImplementations_Param.cpp
Labels: bug-fix

#1081 fix measurements with dynamic wires
  .github/CHANGELOG.md
  pennylane_lightning/core/_measurements_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_tensor/_measurements.py
  tests/test_measurements.py
Labels: ci:use-multi-gpu-runner, ci:use-gpu-runner

#1076 Remove unnecessary reset_state in execution when state_vector is freshly initialized
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/lightning_base.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  tests/lightning_base/test_device.py
Labels: ci:use-multi-gpu-runner, ci:use-gpu-runner

#1085 Implement Sparse Matrix Kernels
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/bindings/LGPUBindingsMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_NonParam.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/initSV.cu
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/MeasurementsGPU.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/MeasurementsGPUMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/Test_StateVectorCudaManaged_Expval.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Expval.cpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/bindings/LKokkosBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/measurements/MeasurementsKokkos.hpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/measurements/tests/Test_StateVectorKokkos_Expval.cpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/utils/LinearAlgebraKokkos.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/bindings/LQubitBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/CMakeLists.txt
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_GateImplementations_Sparse_Matrix.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/measurements/MeasurementsLQubit.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/measurements/tests/CMakeLists.txt
  pennylane_lightning/core/src/simulators/lightning_qubit/measurements/tests/Test_MeasurementsLQubitSparse.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/utils/SparseLinAlg.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/utils/tests/Test_SparseLinAlg.cpp
  pennylane_lightning/core/src/utils/TestHelpers.hpp
  pennylane_lightning/core/src/utils/TestHelpersSparse.hpp
  pennylane_lightning/core/src/utils/cuda_utils/CSRMatrix.hpp
  pennylane_lightning/core/src/utils/cuda_utils/LinearAlg.hpp
  pennylane_lightning/core/src/utils/cuda_utils/MPILinearAlg.hpp
  pennylane_lightning/core/src/utils/cuda_utils/tests/mpi/Test_CSRMatrix.cpp
  pennylane_lightning/core/src/utils/tests/CMakeLists.txt
  pennylane_lightning/core/src/utils/tests/Test_TestHelpersSparse.cpp
  pennylane_lightning/core/src/utils/tests/Test_Util.cpp
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1103 Add python bindings and integrates with python LightningQubit backend
  .github/CHANGELOG.md
  .github/workflows/tests_lqcpu_python.yml
  pennylane_lightning/core/_state_vector_base.py
  pennylane_lightning/core/src/bindings/BindingsBase.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/bindings/LQubitBindings.hpp
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_kokkos/_state_vector.py
  pennylane_lightning/lightning_qubit/_state_vector.py
  tests/lightning_base/test_state_vector_class.py
  tests/test_gates.py
Labels: ci:build_wheels

#1084 [Capture] support LQ, LK and LGPU pre-processing during execution
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/lightning_interpreter.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  tests/lightning_base/test_device.py
  tests/test_eval_jaxpr.py
Labels: ci:use-gpu-runner

#1079 in-place implementation of expval for LightningQubit
  .github/CHANGELOG.md
  pennylane_lightning/core/_measurements_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_kokkos/measurements/ExpValFunctors.hpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/measurements/MeasurementsKokkos.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/bindings/LQubitBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/measurements/ExpValFunc.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/measurements/MeasurementsLQubit.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/measurements/tests/Test_MeasurementsLQubit.cpp
  tests/lightning_base/test_expval.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1093 Implement Generators for PSWAP gate
  pennylane_lightning/core/src/gates/Constant.hpp
  pennylane_lightning/core/src/gates/GateOperation.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_Generators.cpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/gates/BasicGeneratorFunctors.hpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/gates/tests/Test_StateVectorKokkos_Generator.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/AssignKernelMap_Default.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/OpToMemberFuncPtr.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_OpToMemberFuncPtr.cpp
  pennylane_lightning/core/src/utils/cuda_utils/cuGates_host.hpp
  pennylane_lightning/lightning_gpu/lightning_gpu.toml
  pennylane_lightning/lightning_kokkos/lightning_kokkos.toml
  pennylane_lightning/lightning_qubit/lightning_qubit.toml
  tests/test_adjoint_jacobian.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1087 Lightning implements the `jaxpr_jvp` method
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/jaxpr_jvp.py
  pennylane_lightning/core/lightning_base.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  tests/test_jaxpr_jvp.py
Labels: ci:use-gpu-runner

#1104 Use cuquantum API for computing expval(pauli_string) for LGPU
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/observables/Observables.hpp
  pennylane_lightning/lightning_gpu/_measurements.py
  tests/lightning_base/test_expval.py
Labels: ci:use-multi-gpu-runner, ci:use-gpu-runner

#1001 Add support for Python 3.13 wheels
  .github/CHANGELOG.md
  .github/workflows/set_wheel_build_matrix.yml
  .github/workflows/tests_gpu_python.yml
  .github/workflows/tests_lkcpu_python.yml
  .github/workflows/tests_lkcuda_python.yml
  .github/workflows/tests_lqcpu_python.yml
  .github/workflows/wheel_linux_aarch64.yml
  .github/workflows/wheel_linux_aarch64_cuda.yml
  .github/workflows/wheel_linux_x86_64.yml
  .github/workflows/wheel_linux_x86_64_cuda.yml
  .github/workflows/wheel_macos_arm64.yml
  .github/workflows/wheel_macos_x86_64.yml
  .github/workflows/wheel_win_x86_64.yml
  pennylane_lightning/core/_version.py
  pyproject.toml
  requirements-dev.txt
  tests/lightning_base/test_device.py
Labels: do not merge, ci:use-multi-gpu-runner, ci:build_wheels, urgent, ci:use-gpu-runner

#1094 Integrate sparse operations to the LightningQubit dynamic dispatcher and Python
  .github/CHANGELOG.md
  .github/workflows/tests_lqcpu_python.yml
  Makefile
  pennylane_lightning/core/_state_vector_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/bindings/BindingsBase.hpp
  pennylane_lightning/core/src/gates/Constant.hpp
  pennylane_lightning/core/src/gates/GateOperation.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/StateVectorLQubit.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/bindings/LQubitBindings.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/AssignKernelMap_Default.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/AssignKernelMap_Default.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/DynamicDispatcher.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/KernelMap.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/KernelMap_Default.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/KernelMap_X64.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/OpToMemberFuncPtr.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/RegisterKernel.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsAVXCommon.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_DynamicDispatcher.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_GateImplementations_CompareKernels.cpp
  pennylane_lightning/core/src/utils/TestHelpersSparse.hpp
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_kokkos/_state_vector.py
  pennylane_lightning/lightning_qubit/_state_vector.py
  requirements-dev.txt
  tests/conftest.py
  tests/lightning_base/test_state_vector_class.py
  tests/test_gates.py
Labels: ci:build_wheels

#1107 PCPhase for LGPU
  .github/CHANGELOG.md
  .github/workflows/tests_gpu_cpp.yml
  .github/workflows/tests_lgpumpi_cpp.yml
  .github/workflows/tests_linux_cpp.yml
  .github/workflows/tests_lkcuda_cpp.yml
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/gates/Constant.hpp
  pennylane_lightning/core/src/gates/GateOperation.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/AssignKernelMap_Default.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/OpToMemberFuncPtr.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_GateImplementations_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_KernelMap.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_OpToMemberFuncPtr.cpp
  pennylane_lightning/core/src/utils/TestHelpersWires.hpp
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_gpu/lightning_gpu.toml
  pennylane_lightning/lightning_qubit/_state_vector.py
  pennylane_lightning/lightning_qubit/lightning_qubit.toml
  tests/lightning_base/test_measurements_class.py
  tests/test_gates.py
Labels: ci:use-gpu-runner

#1113 Add Missing Step IDs, Python Setup, and ARM::64 CUDA Virtual Environment
  .github/CHANGELOG.md
  .github/workflows/tests_gpu_cpp.yml
  .github/workflows/tests_gpu_python.yml
  .github/workflows/tests_lgpumpi_cpp.yml
  .github/workflows/tests_lgpumpi_python.yml
  .github/workflows/tests_lkcuda_cpp.yml
  .github/workflows/tests_lkcuda_python.yml
  .github/workflows/wheel_linux_aarch64_cuda.yml
  pennylane_lightning/core/_version.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1088 Implement PSWAP gate on all PennyLane-Lightning devices
  .github/CHANGELOG.md
  mpitests/test_adjoint_jacobian.py
  mpitests/test_apply.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/gates/Constant.hpp
  pennylane_lightning/core/src/gates/GateOperation.hpp
  pennylane_lightning/core/src/gates/Gates.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaBase.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_Generators.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/Test_StateVectorCudaManaged_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_Generators.cpp
  pennylane_lightning/core/src/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/gates/BasicGateFunctors.hpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/gates/BasicGeneratorFunctors.hpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/gates/tests/Test_StateVectorKokkos_Generator.cpp
  pennylane_lightning/core/src/simulators/lightning_kokkos/gates/tests/Test_StateVectorKokkos_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/AssignKernelMap_Default.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/OpToMemberFuncPtr.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/cpu_kernels/GateImplementationsLM.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_GateImplementations_Param.cpp
  pennylane_lightning/core/src/simulators/lightning_qubit/gates/tests/Test_OpToMemberFuncPtr.cpp
  pennylane_lightning/core/src/utils/cuda_utils/cuGates_host.hpp
  pennylane_lightning/lightning_gpu/lightning_gpu.toml
  pennylane_lightning/lightning_kokkos/lightning_kokkos.toml
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  pennylane_lightning/lightning_qubit/lightning_qubit.toml
  tests/test_adjoint_jacobian.py
  tests/test_gates.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner
