Repository PennyLaneAI/pennylane-lightning, pull requests merged in 2025-02, with the labels that each got.

#1054 Optimize MPO operation in LT
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/src/simulators/lightning_tensor/tncuda/MPOTNCuda.hpp
  pennylane_lightning/core/src/simulators/lightning_tensor/tncuda/MPSTNCuda.hpp
  pennylane_lightning/core/src/simulators/lightning_tensor/tncuda/tests/Tests_MPSTNCuda.cpp
  pennylane_lightning/core/src/simulators/lightning_tensor/utils/tncuda_utils/tests/Test_TNCuda_utils.cpp
  pennylane_lightning/core/src/simulators/lightning_tensor/utils/tncuda_utils/tncuda_helpers.hpp
  requirements-dev.txt
  tests/lightning_tensor/test_tensornet_class.py
Labels: ci:use-gpu-runner

#1061 Update GPU workflow to use the new self-hosted GPU runner infrastructure
  .github/workflows/tests_gpu_cpp.yml
  .github/workflows/tests_gpu_python.yml
  .github/workflows/tests_lgpumpi_cpp.yml
  .github/workflows/tests_lgpumpi_python.yml
  .github/workflows/tests_lkcuda_cpp.yml
  .github/workflows/tests_lkcuda_python.yml
  .github/workflows/wheel_linux_aarch64_cuda.yml
  pennylane_lightning/core/_version.py
Labels: ci:use-multi-gpu-runner, ci:use-gpu-runner

#1057 Remove the old device API references in the Lightning repo and test suite
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/lightning_base.py
  pennylane_lightning/core/lightning_newAPI_base.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/lightning_base/__init__.py
  tests/lightning_base/test_adjoint_jacobian_class.py
  tests/lightning_base/test_device.py
  tests/lightning_base/test_expval.py
  tests/lightning_base/test_jacobian_method.py
  tests/lightning_base/test_measurements_class.py
  tests/lightning_base/test_measurements_samples_MCMC.py
  tests/lightning_base/test_no_binaries.py
  tests/lightning_base/test_simulate_method.py
  tests/lightning_base/test_state_vector_class.py
  tests/lightning_base/test_var.py
  tests/lightning_tensor/test_gates_and_expval.py
  tests/new_api/__init__.py
  tests/test_adjoint_jacobian.py
  tests/test_apply.py
  tests/test_comparison.py
  tests/test_expval.py
  tests/test_gates.py
  tests/test_measurements.py
  tests/test_templates.py
  tests/test_vjp.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1050 [dyn-alloc-lg/lt] Lightning GPU dynamically allocate qubit memory
  mpitests/test_device.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/lightning_tensor/test_lightning_tensor.py
  tests/new_api/test_device.py
  tests/test_adjoint_jacobian.py
  tests/test_apply.py
  tests/test_vjp.py
Labels: ci:use-gpu-runner

#1049 [dyn-alloc-lk] Lightning Kokkos support dynamic qubit allocation
  mpitests/test_device.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/lightning_tensor/test_lightning_tensor.py
  tests/new_api/test_device.py
  tests/test_adjoint_jacobian.py
  tests/test_apply.py
  tests/test_vjp.py
Labels: ci:use-gpu-runner

#1043 [dyn-alloc-base] Lightning dynamically allocate qubit memory
  .github/CHANGELOG.md
  mpitests/test_apply.py
  mpitests/test_device.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/lightning_base.py
  pennylane_lightning/core/src/simulators/base/StateVectorBase.hpp
  pennylane_lightning/core/src/simulators/lightning_qubit/StateVectorLQubitRaw.hpp
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/lightning_base/test_device.py
  tests/lightning_tensor/test_lightning_tensor.py
  tests/test_adjoint_jacobian.py
  tests/test_apply.py
  tests/test_device.py
  tests/test_eval_jaxpr.py
  tests/test_vjp.py
Labels: ci:use-multi-gpu-runner, ci:use-gpu-runner

#1064 `MPSPrep` adding extra empty qubit
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_tensor/_tensornet.py
  tests/lightning_tensor/test_lightning_tensor.py
  tests/lightning_tensor/test_tensornet_class.py
Labels: ci:use-gpu-runner

#1063 Use native implementation for adjoints in (control) operations
  .github/CHANGELOG.md
  pennylane_lightning/core/_serialize.py
  pennylane_lightning/core/_state_vector_base.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_kokkos/_state_vector.py
  pennylane_lightning/lightning_qubit/_state_vector.py
  tests/test_gates.py
  tests/test_serialize.py
Labels: ci:use-gpu-runner
