Repository PennyLaneAI/pennylane-lightning, pull requests merged in 2025-06, with the labels that each got.

#1166 Adding MCM-TreeTraversal method to LQ, LK and LGPU
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/simulators/lightning_qubit/StateVectorLQubit.hpp
  pennylane_lightning/lightning_base/_mid_circuit_measure_tree_traversal.py
  pennylane_lightning/lightning_base/lightning_base.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_gpu/lightning_gpu.toml
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.toml
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  pennylane_lightning/lightning_qubit/lightning_qubit.toml
  tests/test_native_mcm.py
Labels: ci:build_wheels, ci:use-gpu-runner

#1162 Refactor MPIManager from GPU
  mpitests/conftest.py
  mpitests/test_adjoint_jacobian.py
  mpitests/test_apply.py
  mpitests/test_device.py
  mpitests/test_expval.py
  mpitests/test_measurements_sparse.py
  mpitests/test_native_mcm.py
  mpitests/test_probs.py
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/algorithms/tests/mpi/Test_AdjointJacobianMPI.cpp
  pennylane_lightning/core/bindings/Bindings.cpp
  pennylane_lightning/core/bindings/BindingsMPI.hpp
  pennylane_lightning/core/measurements/tests/mpi/Test_MeasurementsBaseMPI.cpp
  pennylane_lightning/core/observables/tests/mpi/Test_ObservablesMPI.cpp
  pennylane_lightning/core/simulators/lightning_gpu/MPIWorker.hpp
  pennylane_lightning/core/simulators/lightning_gpu/StateVectorCudaMPI.hpp
  pennylane_lightning/core/simulators/lightning_gpu/algorithms/AdjointJacobianGPUMPI.hpp
  pennylane_lightning/core/simulators/lightning_gpu/algorithms/AlgorithmsGPUMPI.cpp
  pennylane_lightning/core/simulators/lightning_gpu/algorithms/JacobianDataMPI.hpp
  pennylane_lightning/core/simulators/lightning_gpu/algorithms/tests/mpi/Test_AdjointJacobianGPUMPI.cpp
  pennylane_lightning/core/simulators/lightning_gpu/bindings/LGPUBindingsMPI.hpp
  pennylane_lightning/core/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_Generators.cpp
  pennylane_lightning/core/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_NonParam.cpp
  pennylane_lightning/core/simulators/lightning_gpu/gates/tests/mpi/Test_StateVectorCudaMPI_Param.cpp
  pennylane_lightning/core/simulators/lightning_gpu/measurements/MeasurementsGPUMPI.hpp
  pennylane_lightning/core/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Expval.cpp
  pennylane_lightning/core/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Measure.cpp
  pennylane_lightning/core/simulators/lightning_gpu/measurements/tests/mpi/Test_StateVectorCudaMPI_Var.cpp
  pennylane_lightning/core/simulators/lightning_gpu/observables/tests/mpi/Test_ObservablesGPUMPI.cpp
  pennylane_lightning/core/simulators/lightning_gpu/tests/mpi/Test_StateVectorCudaMPI.cpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/CMakeLists.txt
  pennylane_lightning/core/simulators/lightning_gpu/utils/CSRMatrix.hpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/MPILinearAlg.hpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/MPIManagerGPU.hpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/CMakeLists.txt
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/Test_LinearAlgebra.cpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/mpi/Test_CSRMatrix.cpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/mpi/Test_LinearAlgebraMPI.cpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/mpi/Test_MPIManagerGPU.cpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/mpi/runner_lightning_gpu_utils_mpi.cpp
  pennylane_lightning/core/simulators/lightning_gpu/utils/tests/runner_lightning_gpu_utils.cpp
  pennylane_lightning/core/utils/MPIManager.hpp
  pennylane_lightning/core/utils/cuda_utils/tests/CMakeLists.txt
  pennylane_lightning/core/utils/tests/CMakeLists.txt
  pennylane_lightning/core/utils/tests/mpi/Test_MPIManager.cpp
  pennylane_lightning/core/utils/tests/mpi/runner_utils_mpi.cpp
  pennylane_lightning/lightning_base/_serialize.py
  pennylane_lightning/lightning_gpu/_mpi_handler.py
Labels: ci:use-multi-gpu-runner, ci:build_wheels, ci:use-gpu-runner

#1142 Convert Lightning README to markdown
  .github/CHANGELOG.md
  README.md
  README.rst
  doc/dev/docker.rst
  doc/dev/support.rst
  doc/index.rst
  pennylane_lightning/core/_version.py
Labels: documentation

#1172 Remove flaky tests and add local test seeding mechanism
  .github/CHANGELOG.md
  .github/workflows/tests_gpu_cpp.yml
  .github/workflows/tests_gpu_python.yml
  .github/workflows/tests_lgpumpi_cpp.yml
  .github/workflows/tests_lgpumpi_python.yml
  .github/workflows/tests_linux_cpp.yml
  .github/workflows/tests_lkcpu_python.yml
  .github/workflows/tests_lkcuda_cpp.yml
  .github/workflows/tests_lkcuda_python.yml
  .github/workflows/tests_lqcpu_python.yml
  .github/workflows/tests_without_binary.yml
  .github/workflows/wheel_linux_aarch64.yml
  .github/workflows/wheel_linux_aarch64_cuda.yml
  .github/workflows/wheel_linux_x86_64.yml
  .github/workflows/wheel_macos_arm64.yml
  .github/workflows/wheel_macos_x86_64.yml
  .github/workflows/wheel_win_x86_64.yml
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/measurements/tests/Test_MeasurementsBase.cpp
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  requirements-dev.txt
  requirements-tests.txt
  requirements.txt
  tests/conftest.py
  tests/lightning_base/test_measurements_class.py
  tests/pytest.ini
  tests/test_measurements.py
  tests/test_native_mcm.py
Labels: ci:use-gpu-runner

#1183 Remove native support to CX
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
Labels: ci:use-gpu-runner

#1182 Support probs and shots for LK-MPI
  .github/workflows/tests_lkmpi_cuda_cpp.yml
  .github/workflows/tests_lkmpi_cuda_python.yml
  doc/dev/installation.rst
  doc/index.rst
  doc/lightning_gpu/device.rst
  doc/lightning_kokkos/device.rst
  doc/lightning_kokkos/installation.rst
  doc/lightning_kokkos/installation_hpc.rst
  mpitests/test_apply.py
  mpitests/test_probs.py
  pennylane_lightning/core/bindings/Bindings.hpp
  pennylane_lightning/core/bindings/BindingsMPI.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/StateVectorKokkosMPI.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/gates/tests/mpi/Test_StateVectorKokkosMPI_Generator.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/gates/tests/mpi/Test_StateVectorKokkosMPI_NonParam.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/gates/tests/mpi/Test_StateVectorKokkosMPI_Param.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/measurements/MeasurementsKokkos.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/measurements/MeasurementsKokkosMPI.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/measurements/MeasuresFunctors.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/measurements/tests/mpi/Test_StateVectorKokkosMPI_Measure.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/observables/tests/mpi/Test_ObservablesKokkosMPI.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/tests/mpi/Test_StateVectorKokkosMPI.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/utils/MPIManagerKokkos.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/utils/TestHelpersStateVectors.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/utils/tests/mpi/Test_MPIManagerKokkos.cpp
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
Labels: ci:use-multi-gpu-runner
