Repository PennyLaneAI/pennylane-lightning, pull requests merged in 2025-09, with the labels that each got.

#1247 Remove stopping condition for C(SProd) and C(Exp)
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/lightning_base/test_device.py
  tests/test_gates.py
Labels: ci:use-gpu-runner

#1254 QuantumDevice interface updates to lightning for dynamic allocation
  .github/CHANGELOG.md
  .github/workflows/tests_gpu_cpp.yml
  .github/workflows/tests_lgpumpi_cpp.yml
  .github/workflows/tests_lgpumpi_python.yml
  .github/workflows/tests_linux_cpp.yml
  .github/workflows/tests_lkcuda_cpp.yml
  .github/workflows/tests_lkcuda_python.yml
  .github/workflows/tests_lkmpi_cuda_cpp.yml
  .github/workflows/tests_lkmpi_cuda_python.yml
  .github/workflows/tests_windows_cpp.yml
  cmake/support_catalyst.cmake
  pennylane_lightning/core/CMakeLists.txt
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/catalyst/CMakeLists.txt
  pennylane_lightning/core/catalyst/LightningQubitManager.hpp
  pennylane_lightning/core/catalyst/tests/CMakeLists.txt
  pennylane_lightning/core/catalyst/tests/Test_LightningDriver.cpp
  pennylane_lightning/core/catalyst/tests/Test_LightningQubitManager.cpp
  pennylane_lightning/core/catalyst/tests/runner_catalyst.cpp
  pennylane_lightning/core/simulators/lightning_gpu/catalyst/CMakeLists.txt
  pennylane_lightning/core/simulators/lightning_gpu/catalyst/LightningGPUSimulator.cpp
  pennylane_lightning/core/simulators/lightning_gpu/catalyst/LightningGPUSimulator.hpp
  pennylane_lightning/core/simulators/lightning_gpu/catalyst/tests/Test_LightningGPUMeasures.cpp
  pennylane_lightning/core/simulators/lightning_gpu/catalyst/tests/Test_LightningGPUSimulator.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/catalyst/CMakeLists.txt
  pennylane_lightning/core/simulators/lightning_kokkos/catalyst/LightningKokkosSimulator.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/catalyst/LightningKokkosSimulator.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/catalyst/tests/Test_LightningKokkosMeasures.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/catalyst/tests/Test_LightningKokkosSimulator.cpp
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/CMakeLists.txt
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/LightningSimulator.cpp
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/LightningSimulator.hpp
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/tests/CMakeLists.txt
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/tests/Test_LightningMeasures.cpp
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/tests/Test_LightningSimulator.cpp
Labels: ci:build_wheels, ci:use-gpu-runner

#1260 [Catalyst] Properly reset released qubits by measuring
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/catalyst/tests/Test_LightningDriver.cpp
  pennylane_lightning/core/simulators/lightning_gpu/catalyst/LightningGPUSimulator.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/catalyst/LightningKokkosSimulator.cpp
  pennylane_lightning/core/simulators/lightning_qubit/catalyst/LightningSimulator.cpp
Labels: ci:use-gpu-runner

#1263 Remove unnecessary std::move that will cause error in g++13
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/utils/cuda_utils/cuGates_host.hpp
Labels: ci:use-gpu-runner

#1257 Raise error for `normalize` when norm close to zero for LQ/`collapse` for LGPU
  .github/CHANGELOG.md
  .github/workflows/tests_lgpumpi_cpp.yml
  .github/workflows/tests_lkmpi_cuda_cpp.yml
  pennylane_lightning/core/_version.py
  pennylane_lightning/core/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/simulators/lightning_gpu/tests/Test_StateVectorCudaManaged.cpp
  pennylane_lightning/core/simulators/lightning_kokkos/StateVectorKokkos.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/StateVectorKokkosMPI.hpp
  pennylane_lightning/core/simulators/lightning_qubit/StateVectorLQubit.hpp
  pennylane_lightning/core/simulators/lightning_qubit/tests/Test_StateVectorLQubitManaged.cpp
  tests/lightning_base/test_state_vector_class.py
Labels: ci:use-multi-gpu-runner, ci:use-gpu-runner
