Repository PennyLaneAI/pennylane-lightning, pull requests merged in 2025-08, with the labels that each got.

#1206 [nanobind] Bindings for lightning.tensor
  .github/CHANGELOG.md
  pennylane_lightning/core/bindings/BindingsMPI_nb.hpp
  pennylane_lightning/core/bindings/Bindings_nb.cpp
  pennylane_lightning/core/bindings/Bindings_nb.hpp
  pennylane_lightning/core/measurements/MeasurementsBase.hpp
  pennylane_lightning/core/simulators/lightning_gpu/StateVectorCudaManaged.hpp
  pennylane_lightning/core/simulators/lightning_gpu/bindings/LGPUBindingsMPI_nb.hpp
  pennylane_lightning/core/simulators/lightning_gpu/bindings/LGPUBindings_nb.hpp
  pennylane_lightning/core/simulators/lightning_gpu/measurements/MeasurementsGPU.hpp
  pennylane_lightning/core/simulators/lightning_gpu/measurements/MeasurementsGPUMPI.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/bindings/LKokkosBindingsMPI_nb.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/bindings/LKokkosBindings_nb.hpp
  pennylane_lightning/core/simulators/lightning_kokkos/measurements/MeasurementsKokkos.hpp
  pennylane_lightning/core/simulators/lightning_qubit/measurements/MeasurementsLQubit.hpp
  pennylane_lightning/core/simulators/lightning_tensor/tncuda/TNCuda.hpp
  pennylane_lightning/core/simulators/lightning_tensor/tncuda/bindings/LTensorTNCudaBindings.hpp
  pennylane_lightning/core/simulators/lightning_tensor/tncuda/bindings/LTensorTNCudaBindings_nb.hpp
  pennylane_lightning/core/simulators/lightning_tensor/tncuda/measurements/MeasurementsTNCuda.hpp
  pennylane_lightning/lightning_base/_serialize.py
  pennylane_lightning/lightning_base/_state_vector.py
  pennylane_lightning/lightning_gpu/_state_vector.py
  pennylane_lightning/lightning_kokkos/_state_vector.py
  pennylane_lightning/lightning_qubit/_state_vector.py
  pennylane_lightning/lightning_tensor/_measurements.py
  pennylane_lightning/lightning_tensor/_tensornet.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/bindings/test_backend_nb.py
  tests/bindings/test_bindings_nb.py
  tests/conftest.py
  tests/lightning_tensor/test_serialize_tensor.py
Labels: ci:use-gpu-runner

#1185 replace `DefaultExecutionConfig` with `ExecutionConfig()`
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  pennylane_lightning/lightning_base/lightning_base.py
  pennylane_lightning/lightning_gpu/lightning_gpu.py
  pennylane_lightning/lightning_kokkos/lightning_kokkos.py
  pennylane_lightning/lightning_qubit/lightning_qubit.py
  pennylane_lightning/lightning_tensor/lightning_tensor.py
  tests/lightning_base/test_device.py
  tests/lightning_base/test_jacobian_method.py
  tests/lightning_base/test_simulate_method.py
  tests/test_jaxpr_jvp.py
Labels: ci:use-multi-gpu-runner

#1242 chore: fix test now that `config.device_options` is immutable
  .github/CHANGELOG.md
  pennylane_lightning/core/_version.py
  tests/lightning_base/test_device.py
Labels: urgent
